# Nuxt frontend
NUXT_PUBLIC_API_BASE="http://localhost:8080"

# Go API
SERVER_PORT=8080
GIN_MODE=debug
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=models_dev
SYNC_COOLDOWN_MINUTES=10
SYNC_CRON_MINUTES=60
MODELS_DEV_URL=https://models.dev/api.json
API_KEYS=key1,key2,key3
CORS_ALLOWED_ORIGINS=http://localhost:3000
